.order_bar{
    /* border: 2px solid rgb(125, 120, 120); */
    display: flex;
    justify-content: space-between;
    background-color: #005B8F;

}
.order_list_page .active {
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding-right: 30px;
}
.order_home_icon{
    /* border: 2px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.order_home_icon img{
    height: 40px;
}
.order_list_page{
    /* border: 3px solid; */
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}
.order_list_page p {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
}
.order_review{
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order_review h1 {
    font-size: 35px;
    color: #005B8F;
}
.order_store_total{
    /* border: 2px solid ; */
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
    width: 70%;

}