.percent_card_container{
    /* border: 3px solid red; */
    width: 35%;
    /* padding: 10px 200px; */
    margin: 20px;
}
.percent_card{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

}
.card_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    /* border: 2px solid green; */
}
.card_img img {
    height: 200px;
}

h3 {
    color: #005B8F;
    font-size: 25px;
    margin: 10px 0px;
}
.card_details{
    width: 100%;
    padding: 0 15px;
    margin-top: 10px;
    /* border: 2px solid green; */
}
.details{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    /* border: 2px solid ; */
}
.details p {
    font-weight: 400;
    font-size: 18px;
    margin: 5px;
}


@media screen and (max-width:1290px) {
    h3 {
        font-size: 20px;
    }
}
@media screen and (max-width:1024px) {
    .card_details{
        width: 290px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .details p{
        font-size: 14px;
    }
    .card_img img {
        height: 170px;
    }
}
@media screen and (max-width:886px) {
    .percent_card_container{
        width: 40%;
    }
    .card_details{
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:768px) {
    .percent_card_container{
        width: 70%;
    }
    .card_details{
        width: 92%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card_img img {
        height: 190px;
    }
}
@media screen and (max-width:560px) {
    .percent_card_container{
        width: 90%;
    }
    .card_details{
        width: 92%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card_img img {
        height: 190px;
    }
    .comission_percentwise p {
        font-size: 14px;
    }
}
@media screen and (max-width:378px) {
    .percent_card_container{
        width: 100%;
    }
    .card_details{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card_img img {
        height: 150px;
    }

    .comission_percentwise p {
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
    h3{
        font-size: 15px;
    }
    .details p{
        font-size: 12px;
    }
}