.admin_bar{
    /* border: 2px solid red; */
    display: flex;
    padding: 0px 20px;
    background-color: #005B8F;
}
.home_icon{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}
.home_icon img{
    width: 40px;
}
.admin_page{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    /* border: 2px solid pink; */
    padding: 0 30px;
}

.comission_content{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    height: 100vh;
}
.shop_image{
    /* border: 2px solid yellow; */
    /* width: 60%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop_image img {
    width: 72%;
}
.buttons{
    /* border: 3px solid green; */
    width: 40%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin-top: 150px;
}
.btn {
    width: 400px;
    height: 60px;
}
.btn_link{
    text-decoration: none;
    margin-top: 70px;
}

