.container {
  /* border: 2px solid rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.details_container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.password_details {
  padding: 50px;
}

.password_details h1 {
  text-align: center;
  font-size: 60px;
  color: #005b8f;
}

.password_details p {
  margin-top: 40px;
  font-size: 15px;
  color: blue;
  font-weight: 400;
}

.email {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.email-input {
  width: 400px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
  border: 1px solid grey;
}

.bg_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_img img {
  height: 350px;
}

.forget_link {
  display: flex;
  justify-content: center;
}


/* MEDIA Query */

@media screen and (max-width: 1095px) {
  .bg_img img {
    height: 250px;
  }
  .password_details h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 928px) {
  .bg_img img {
    height: 200px;
  }
  .password_details h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 865px) {
  .details_container {
    flex-direction: column-reverse;
  }
  .bg_img img {
    height: 200px;
  }
  .password_details h1 {
    font-size: 50px;
  }
  .password_details p {
    margin-top: 20px;
  }
  .email {
    margin-top: 20px;
  }
}

@media screen and (max-width: 546px) {
  .details_container {
    flex-direction: column-reverse;
  }
  .bg_img img {
    height: 200px;
  }
  .password_details h1 {
    font-size: 40px;
  }
  .password_details p {
    margin-top: 20px;
  }
  .email {
    margin-top: 20px;
  }
  .email-input {
    width: 300px;
  }
}

@media screen and (max-width: 546px) {
  .details_container {
    flex-direction: column-reverse;
  }
  .bg_img img {
    height: 200px;
  }
  .password_details h1 {
    font-size: 35px;
  }
  .password_details p {
    margin-top: 20px;
  }
  .email {
    margin-top: 20px;
  }
  .email-input {
    width: 280px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 429px) {
  .details_container {
    flex-direction: column-reverse;
  }
  .bg_img img {
    height: 150px;
  }
  .password_details h1 {
    font-size: 30px;
  }
  .password_details p {
    margin-top: 20px;
  }
  .email {
    margin-top: 20px;
  }
  .email-input {
    width: 250px;
    margin-top: 10px;
  }
  .password_details {
    padding: 20px;
  }
}
