.container_main {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.container {
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 40px;
}

.password_details {
  /* border: 3px solid green; */
  width: 50%;
  padding: 50px;
}

.password_details h1 {
  font-size: 60px;
  color: #005b8f;
}

.password_details p {
  margin-top: 40px;
  font-size: 15px;
  color: blue;
  font-weight: 400;
}

.text_field {
  width: 500px;
}

.email {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn_1 {
  width: 250px;
}

.bg_img img {
  height: 470px;
  margin-top: 35px;
  width: 90%;
}

.forget_link {
  display: flex;
  justify-content: center;
}

/* MEDIA Query */
@media screen and (max-width: 1077px) {
  .bg_img img {
    height: 380px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 930px) {
  .container_main {
    height: 100vh;
  }
  .container {
    flex-direction: column-reverse;
    margin-top: 50px;
    width: 90%;
  }
  .password_details h1 {
    font-size: 45px;
    text-align: center;
  }
  .bg_img img {
    height: 350px;
    margin-top: 25px;
  }
  .MuiInputBase-root {
    width: 450px;
    margin-left: 55px;
  }
  .MuiFormLabel-root {
    margin-left: 55px;
  }
}

@media screen and (max-width: 768px) {
  .container_main {
    flex-direction: column-reverse;
  }
  .container {
    flex-direction: column-reverse;
    margin-top: 50px;
    width: 90%;
  }
  .password_details h1 {
    font-size: 45px;
    text-align: center;
  }
  .password_details {
    /* border: 3px solid green; */
    width: 90%;
    padding: 10px;
  }
  .bg_img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bg_img img {
    height: 350px;
    margin-top: 25px;
  }
  .MuiInputBase-root {
    /* width: 450px; */
    margin-left: 25px;
  }
  .MuiFormLabel-root {
    margin-left: 25px;
  }
}
